.navbar-container{
    // background: linear-gradient(to right,#000e9c,#0050d7) 0% 0% no-repeat;
    background: white;
    display: flex;
    justify-content: center;

    .navbar{
        max-width: 1366px;
        width: 80%;

        .first{
            display: flex;
            align-items: center;

            .logo-container{

                img{
                    width: 50px;
                }
            }
        }
    }
}